<div id="footerbox">
	<ul class="foot">
		<li><a href="about.php">Daniel Harvey</a> &nbsp;| &nbsp;</li>
		<li>Snailbird Studios &nbsp;| &nbsp;</li>
		<li><a href="mailto:daniel@snailbird.net">daniel@snailbird.net</a></li>
	</ul>
</div>
