@inherits LayoutComponentBase

<NavHeader />

<div class="page">
    <main id="contentstrip">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
