<div id="header">
	<div id="banner">
		<a href="">
			<img src="../images/logos/snailbird-lab-banner.png" title="Home Page" alt="banner">
		</a>
	</div>
</div>
<nav id="navbar">
	<div id="menu">
		<div class="menuitem">
			<NavLink href="">
				<span class="menulink">Home</span>
			</NavLink>
		</div>
		<div class="menuitem">
			<NavLink href="Lab">
				<span class="menulink">Lab</span>
			</NavLink>
		</div>
		<div class="menuitem">
			<NavLink href="Studio">
				<span class="menulink">Studio</span>
			</NavLink>
		</div>
		<div class="menuitem">
			<NavLink href="About">
				<span class="menulink">About</span>
			</NavLink>
		</div>
	</div>
</nav>
