@page "/"

<PageTitle>Home</PageTitle>

<div class="sb-postframe">
    <h2 class="aqua header">Welcome to Snailbird!</h2>
    <p class="centeredtext">
        The Lab is home to homebrew software for computer musicians.  
        The Studio is home to music made with electronic machines.  
        Feel free to explore as the site expands to host my projects.
    </p>
    <p>
        The site itself is really a hobby project for practicing building software.  The source and progress can be tracked on <a href="https://github.com/daniel-c-harvey/snailbird">github</a>.  
        Filling the site you'll find a blog about my software and music projects.
    </p>
</div>