@using Microsoft.AspNetCore.Components.Forms


<div class="file-input">
    <div class="file-input-header">
        <label for="input-file">Header</label>
        <InputFile @ref="Input" id="input-file" />
    </div>
    <div class="file-input-files">
        @* @foreach () *@
        
    </div>
</div>

@code {
    protected InputFile Input { get; set; }

    private List<> files = new();
}