@using Microsoft.AspNetCore.Components.Web
@using RazorCore.Confirmation;

@typeparam TMode



@if (ViewModel != null && ViewModel.Navigator != null )
{
    bool backButtonEnabled = ViewModel.Navigator.CanNavigateBack;
    string backButtonClass = backButtonEnabled ? "btn btn-outline-primary" : "btn btn-outline-secondary";
    <Prompt @ref="confirmation" ViewModel="@ViewModel.Navigator.NavigateConfirmationViewModel" />

    <div class="nav-panel">
        <div class="nav-bar">
            <button type="button" 
                    class="@backButtonClass" 
                    @onclick="OnNavigateBack"
                    disabled="@(!backButtonEnabled)">
                <i class="bi bi-arrow-left" />
            </button>
        </div>
        <div class="nav-body">
            @if (ChildContent is null)
            {
                <span>Loading...</span>
            }
            else
            {
                @ChildContent(ViewModel)
            }
        </div>
    </div>
}

