@using NetBlocks.Models.Environment
@using RazorCore.Table
@using SnailbirdAdminWeb.Client.API
@using SnailbirdAdminWeb.Client.ViewModels

@inject IServiceProvider Services

@if (ViewModel != null)
{
    <NewRowTable 
        TModel="Connection" 
        models="ViewModel.Connections.ConnectionStrings" 
        columnMap="ViewModel.ColumnMap" 
        OnDelete="ViewModel.Delete" 
        OnAdd="ViewModel.Add" />

    <div>
        <button type="button" class="btn btn-primary" @onclick="ViewModel.SaveConnections">
            <i class="bi bi-floppy"></i>
        </button>
    </div>
}

@code {
    ConnectionManagerViewModel? ViewModel;

    protected override async Task OnInitializedAsync()
    {
        var client = Services.GetService<IConnectionManagerClient>();
        if (client != null)
        {
            ViewModel = await ConnectionManagerViewModel.Init(client);
        }

        await base.OnInitializedAsync();
    }
}