<div class="@Style">
    <div class="rc-expandable-content">
        @ChildContent
    </div>
    <div class="rc-expandable-morecontent">
        <input class="rc-expandable-expandpost"
               type="button"
               name="more"
               value="More"
               onclick="@ToggleExpansion()" />
    </div>
</div>