<div class="rc-expandable-content">
    <div class="@Style">
        @ChildContent
    </div>
    <div class="rc-expandable-morecontent">
        <input class="rc-expandable-expandpost"
               type="button"
               name="expand"
               value="@Text"
               @onclick="ToggleExpansion" />
    </div>
</div>