.rc-expandable-unexpanded {

}

.rc-expandable-expanded {

}

.rc-expandable-morecontent {
    padding: 8px;
    margin-left: auto;
    width: 60px;
}

    .rc-expandable-morecontent * {
        margin: auto;
        float: right;
    }

        .rc-expandable-morecontent .rc-expandable-expandpost {
            width: 55px;
            padding: 2px;
            color: #c45ccf;
            background-color: #10181d;
            border: 0;
            border-radius: 10px;
            font-family: Titillium;
            font-size: 1em;
            font-weight: normal;
        }

            .rc-expandable-morecontent .rc-expandable-expandpost:hover {
                font-weight: bold;
                padding: 3px;
            }