.image-preview-container {
    display: flex;
    justify-content: center;
}

.image-preview {
    width: 400px;
    height: 400px;
}

.image-details {
    
}

.image-text {
    display: flex;
    flex-direction: row;
}

.image-uri {

}

.image-chooser {

}