.image-preview-container {
    display: flex;
    justify-content: center;
}

.image-preview {
    width: 400px;
    height: 400px;
}

.image-details {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.image-text {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    margin-bottom: 12px;
}

.image-uri {

}

.image-chooser {

}