<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Daniel Harvey's Personal Website - A blog about music and engineering.">
    <meta name="keywords" content="daniel, harvey, the.real.daniel.harvey, danielharvey, danny, space, music, engineering, art, programmer, programming, software, synthesizer, drum, modular, electrical, electronic, techno">
    <meta name="author" content="Daniel Harvey">
    <meta name="google-site-verification" content="X9Mi71hau9xsJVo5Ej3EP4UER11N42Icfqd5nbudHK4" />  <!-- TODO update verification-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="SnailbirdWeb.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=RenderMode.InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
