@using SnailbirdData.DataAdapters;
@using SnailbirdData.Models;


@page "/newpost/{SuggestedID:int?}"

@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="new-post">
    <span>ID:</span> <input class="form-control" type="number" @bind="Post.ID"/>
    <br/>
    <span>Title:</span> <input class="form-control" type="text" @bind="Post.Title" />
    <br/>
    <span>Date:</span> <input class="form-control" type="date" @bind="Post.PostDate" />
    <br/>
    <span>Preamble:</span>  <textarea class="form-control" type="text" @bind="Post.Preamble" />
    <br/>
    <span>Video Link:</span> <input class="form-control" type="url" @bind="Post.VideoURL" />
    <br/>
    <h5>Intruments:</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Delete</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LiveJamPostInstrument instrument in Instruments)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="@(e => RemoveInstrument(instrument))">
                            <span class="bi bi-trash"></span>
                        </button>
                    </td>
                    <td><input class="form-control" type="text" @bind="instrument.Name"/></td>
                    <td><input class="form-control" type="text" @bind="instrument.Description"/></td>
                </tr>
            }
            @* New Row *@
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="@(e => AddNewInstrument())">
                        <span class="bi bi-plus-circle"></span>
                    </button>
                </td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>    
    <div>
        <button type="button" class="btn btn-primary" @onclick="@(e => CommitPost())">
            <span class="bi bi-floppy"></span>
        </button>
    </div>

</div>

