@using SnailbirdData.Models;
@using RazorCore

@page "/posts"
@rendermode InteractiveServer

<PageTitle>Posts</PageTitle>

<h3>Posts</h3>

@if (CurrentMode == Mode.View)
{
    <NewRowTable TModel="LiveJamPost"
                 models="_posts"
                 columnMap="columns"
                 OnAdd="AddPost"
                 OnDelete="DeletePost" />
} 
else if (CurrentMode == Mode.Add)
{
    <EditPost Post="Post"
              OnCommitPost="SaveNewPost" />
} 
else if (CurrentMode == Mode.Edit)
{
    <EditPost Post="Post"
              OnCommitPost="SavePost" />
}
