@using SnailbirdData.Providers;
@using SnailbirdData.Models;
@using Core;
@inject IPostProvider<SnailbirdData.Models.LiveJamPost> PostProvider

@page "/posts"
@rendermode InteractiveServer

<PageTitle>Posts</PageTitle>

<h3>Posts</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Counted<LiveJamPost> post in _posts.ZipCounted())
        {
            <tr>
                <th scope="row">@post.Count</th>
                <td>@post.Entity.ID</td>
                <td>@post.Entity.Title</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <NavLink type="button" class="btn btn-primary" href="newpost">Add</NavLink>
</div>


@code {
    public IEnumerable<SnailbirdData.Models.LiveJamPost> _posts = new SnailbirdData.Models.LiveJamPost[] { };

    protected override void OnInitialized()
    {
        _posts = PostProvider.GetRecentPosts(0, 25);
    }
}
