@using SnailbirdData.Models;
@using RazorCore

@page "/posts"
@rendermode InteractiveServer

<PageTitle>Posts</PageTitle>

<h3>Posts</h3>

@if (CurrentMode == Mode.View)
{
    <NewRowTable TModel="LiveJamPost"
                 models="_posts"
                 columnMap="columns"
                 OnAdd="p => AddPost(p)"
                 OnDelete="p => DeletePost(p)" />

} else if (CurrentMode == Mode.Add)
{
    <NewPost Post="NewPost"
             OnCommitPost="p => SaveNewPost(p)"/>
} else if (CurrentMode == Mode.Edit)
{
    @* todo *@
}
