@using Core;
@using RazorCore;

@page "/tabletest"

@rendermode InteractiveServer
@* @attribute [StreamRendering] *@

<PageTitle>Table Test</PageTitle>

<div>
    <NewRowTable TModel="Cash" models="@coins" columnMap="@coinMap"/>
</div>

@code{
    private class Cash
    {
        public int Dubloons { get; set; }
        public int Bones { get; set; }
        public int Clams { get; set; }
    }
    private IEnumerable<Cash> coins = new[] { new Cash { Dubloons = 1, Bones = 2 }, 
                                              new Cash { Dubloons = 3, Bones = 4 } };
    private IDictionary<string, ModelColumn<Counted<Cash>>> coinMap = new Dictionary<string, ModelColumn<Counted<Cash>>>
        {
            { $"{nameof(Cash.Dubloons)} Caption",  new ModelColumn<Counted<Cash>>(m => m.Entity.Dubloons)},
            { $"My Fancy {nameof(Cash.Bones)} Caption",  new ModelColumn<Counted<Cash>>(m => m.Entity.Bones)},
            { $"Editable {nameof(Cash.Clams)} Caption", new ModelColumn<Counted<Cash>>(m => m.Entity.Clams, editable:true)}
        };    
}