@using SnailbirdData.DataAdapters;
@using SnailbirdAdmin.ViewModels;
@using SnailbirdData.Models.Post;
@using RazorCore;

@typeparam TPost where TPost : FlexPost, new()

@if (ViewModel != null && ViewModel.Post != null)
{
    <EditPost ViewModel="ViewModel">
        @foreach (PostElement element in ViewModel.Post.Elements)
        {
            var viewModel = new FlexElementViewModel { Element = element };
            <FlexElement ViewModel="@viewModel" />
        }
    </EditPost>
}
else
{
    <span>Loading...</span>
}
@code {
    [Parameter]
    public EditFlexPostViewModel<TPost>? ViewModel { get; set; }
}
