@using SnailbirdData.DataAdapters;
@using SnailbirdAdmin.ViewModels;
@using SnailbirdData.Models.Post;
@using RazorCore;

@typeparam TPost where TPost : FlexPost, new()
@if (ViewModel != null)
{
    <EditPost ViewModel="ViewModel">
        @foreach (FlexElement element in ViewModel.Elements)
        {
            var viewModel = new FlexElementViewModel { Element = element };
            <EditFlexElement ViewModel="@viewModel" />
            <br />
        }
        <div>
            <button type="button" class="btn btn-primary" @onclick="@(e => ViewModel.AddNewElement(new FlexParagraph()))">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </EditPost>
}
else
{
    <span>Loading...</span>
}
@code {
    [Parameter]
    public EditFlexPostViewModel<TPost>? ViewModel { get; set; }
}
