@using SnailbirdData.DataAdapters;
@using SnailbirdData.Models.Post;
@using RazorCore;

@typeparam TPost where TPost : Post, new()

<div class="new-post">
    <span>ID:</span> <input class="form-control" type="number" @bind="Post.ID" disabled />
    <br />
    <span>Title:</span> <input class="form-control" type="text" @bind="Post.Title" />
    <br />
    <span>Date:</span> <input class="form-control" type="date" @bind="Post.PostDate" />
    @if(Content != null)
    {
        @Content
    }
    <hr />
    <div>
        <button type="button" class="btn btn-primary" @onclick="@(e => CommitPost())">
            <span class="bi bi-floppy"></span>
        </button>
    </div>
</div>

