@using SnailbirdData.Models.Post;
@using SnailbirdAdmin.Models;
@using RazorCore;

@typeparam TPost where TPost : Post, new()
@typeparam TEdit where TEdit : EditPost<TPost>

<h3>Posts</h3>

@if (model != null)
{
    @if (CurrentMode == PostManagerMode.View)
    {
        <NewRowTable TModel="TPost"
                     models="model.Posts"
                     columnMap="columns"
                     OnAdd="AddPost"
                     OnDelete="DeletePost" />
    }
    else if (CurrentMode == PostManagerMode.Add)
    {
        @AddComponent
    }
    else if (CurrentMode == PostManagerMode.Edit)
    {
        @EditComponent
    }
}