@using SnailbirdAdmin.ViewModels;
@using SnailbirdAdmin.Models;
@using SnailbirdData.DataAdapters
@using SnailbirdData.Models.Post;
@using RazorCore;
@using RazorCore.Navigation;

@typeparam TPost where TPost : Post, new()
@typeparam TEdit where TEdit : EditPostViewModelBase<TPost, TEdit>

<h3>Posts</h3>

@if (ViewModel != null)
{
    @if (ViewModel.CurrentMode == PostManagerMode.View)
    {
        @if (ViewModel.Model != null)
        {
            <NewRowTable TModel="TPost"
                         models="ViewModel.Model.Posts"
                         columnMap="ViewModel.Columns"
                         OnAdd="ViewModel.AddPost"
                         OnDelete="ViewModel.DeletePost" />
        }
        else
        {

        }
    }
    else if (ViewModel.CurrentMode == PostManagerMode.Add && AddComponent != null && AddViewModel != null)
    {
        @AddComponent(AddViewModel.LoadPost(ViewModel.Model.Post))
    }
    else if (ViewModel.CurrentMode == PostManagerMode.Edit && EditComponent != null && EditViewModel != null)
    {
        @EditComponent(EditViewModel.LoadPost(ViewModel.Model.Post))
    }
}