<h1 class="pink header clickable" @onclick="OnHeaderClick">@Post.Title</h1>
<h3 class="aqua date header">@Post.PostDate.ToShortDateString()</h3>
@foreach (SnailbirdData.Models.Post.FlexElement element in Post.Elements)
{
    <PostElement Element="@element" ></PostElement>
}

@code {
    [Parameter]
    public SnailbirdData.Models.Post.FlexPost Post { get; set; } = default!;

    [Parameter]
    public EventCallback<SnailbirdData.Models.Post.FlexPost> OnSelect { get; set; }

    private async Task OnHeaderClick(MouseEventArgs e)
    {
        if (OnSelect.HasDelegate)
        {
            await OnSelect.InvokeAsync(Post);
        }
    }
}
