
@if (Posts == null)
{
    <span>Loading...</span>   
}
else
{    
    @foreach(SnailbirdData.Models.Post.LiveJamPost post in Posts)
    {
        <LiveJamPost Post=@post OnSelect="OnSelectPost"/>
    }
}


@code {
    [Parameter]
    public IEnumerable<SnailbirdData.Models.Post.LiveJamPost>? Posts { get; set; }

    [Parameter]
    public EventCallback<SnailbirdData.Models.Post.LiveJamPost> OnSelect { get; set; }

    private async Task OnSelectPost(SnailbirdData.Models.Post.LiveJamPost post)
    {
        if (OnSelect.HasDelegate)
        {
            await OnSelect.InvokeAsync(post);
        }
    }
}
