@typeparam TModel where TModel : SnailbirdData.Models.Post.Post, new()

@if (Posts == null)
{
    <span>Loading...</span>   
}
else
{    
    @foreach(TModel post in Posts)
    {
        <ViewPost TPostModel="TModel" Post="@post" />
    }
}


@code {
    [Parameter]
    public IEnumerable<TModel>? Posts { get; set; }

    [Parameter]
    public EventCallback<TModel> OnSelect { get; set; }

    private async Task OnSelectPost(TModel post)
    {
        if (OnSelect.HasDelegate)
        {
            await OnSelect.InvokeAsync(post);
        }
    }
}
