@typeparam TPostModel where TPostModel : SnailbirdData.Models.Post.FlexPost<TPostModel>, new()

@if (Post != null)
{
    <div class="post" id="@Post.ID">
        <FlexPost TPost="TPostModel" Post="@Post" OnSelect="post => OnSelectPost(post as TPostModel)" />
    </div>
}

@code {
    [Parameter]
    public TPostModel? Post { get; set; }

    [Parameter]
    public EventCallback<TPostModel> OnSelect { get; set; }

    private async Task OnSelectPost(TPostModel post)
    {
        if (OnSelect.HasDelegate)
        {
            await OnSelect.InvokeAsync(post);
        }
    }
}
