@using DataAccess
@using RazorCore.Navigation
@using SnailbirdWeb.Models;
@using SnailbirdWeb.ViewModels
@typeparam TPostModel where TPostModel : SnailbirdData.Models.Post.FlexPost<TPostModel>, new()

@if (ViewModel != null)
{
    @if (ViewModel.Navigator.CurrentMode == PostBrowserMode.Feed)
    {
        <FlexPostFeed TModel="TPostModel" Posts="@ViewModel.Model.FeedModel.Posts" OnSelect="@ViewModel.ViewPost" />
    }
    else if (ViewModel.Navigator.CurrentMode == PostBrowserMode.ViewPost)
    {
        <div class="sb-postframe">
            <ViewFlexPost TPostModel="TPostModel" Post="ViewModel.Model.SelectedPostModel.Post"/>
        </div>
    }
}
@code
{
    [Inject]
    public IDataAdapter<TPostModel>? PostAdapter { get; set; }

    [Parameter]
    public required PostBrowserViewModel<TPostModel>? ViewModel { get; set; }

    protected override void OnInitialized()
    {
        if (ViewModel != null) ViewModel.Navigator.ModeChanged += ModeChanged;
        base.OnInitialized();
    }

    private void ModeChanged(ModeChangeEventArgs<PostBrowserMode> args)
    {
        StateHasChanged();
    }
}