@using SnailbirdWeb.Models;
@typeparam TPostModel where TPostModel : SnailbirdData.Models.Post.Post<TPostModel>, new()

@if(ViewModel != null)
{   
    @if(ViewModel.Navigator.CurrentMode == PostBrowserMode.Feed)
    {
        <PostFeed TModel="TPostModel" Posts="@ViewModel.Model.FeedModel.Posts" OnSelect="@ViewModel.ViewPost"/>
    }
    else if (ViewModel.Navigator.CurrentMode == PostBrowserMode.ViewPost)
    {
        <div class="sb-postframe">
            <ViewPost TPostModel="TPostModel" Post="@ViewModel.Model.SelectedPostModel.Post" />
        </div>
    }
}